name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version:
          - '8.16.1'
        ocaml_version:
          - '4.14.1-flambda'
      max-parallel: 4
      fail-fast: false

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/checkout@v3
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: 'clutch.opam'
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
          before_script: |
            sudo chown -R coq:coq . # workaround a permission issue
          script: |
            startGroup Build
              make -j2
            endGroup
          uninstall: |
            make clean
      - name: coqdocJS
        run: |
          make coqdoc -j2
      - name: Revert permissions
        if: ${{ always() }}
        run: sudo chown -R 1001:116 .
      - name: Upload HTML docs
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v1
        with:
          path: html

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
